{{- /* template to render edge gateway http client code */ -}}
{{- /* TODO(zw): refactor it to two templates */ -}}
package {{.PackageName}}Client

import (
	{{range $idx, $pkg := .IncludedPackages -}}
	"{{$pkg}}"
	{{end}}
)

{{range .Services}}

{{/*  ========================= Method =========================  */ -}}

{{range .Methods}}
{{if len .RequestStruct | ne 0}} {{- /* generate struct to wrap request args*/ -}}
// {{.RequestType}} is the http body type for endpoint {{.Name}}.
type {{.RequestType}} struct {
{{range .RequestStruct}} {{- printf "    %s %s\n" (title .Name) .Type -}}
{{end -}}
}{{end -}}

{{end}} {{- /* <range .Methods> */ -}}
{{end}} {{- /* <range .Services> */ -}}