{{- /* template to render gateway client initialization */ -}}

package clients

import (
	{{range $idx, $pkg := .IncludedPackages -}}
	{{$pkg.AliasName}} "{{$pkg.PackageName}}"
	{{end}}
	"github.com/uber/zanzibar/runtime"
)

// Clients datastructure that holds all the generated clients
// This should only hold clients generate from specs
type Clients struct {
	{{range $idx, $clientInfo := .ClientInfo -}}
	{{$clientInfo.FieldName}} {{if $clientInfo.IsPointerType}}*{{end}}{{$clientInfo.PackageAlias}}.{{$clientInfo.ExportType}}
	{{end}}
}

// CreateClients will make all clients
func CreateClients(
	gateway *zanzibar.Gateway,
) interface{} {
	{{range $idx, $cinfo := .ClientInfo -}}
	_{{lower $cinfo.FieldName}} := {{$cinfo.PackageAlias}}.{{$cinfo.ExportName}}(gateway{{if $cinfo.DepFieldNames}}, {{$cinfo.DepPackageAlias}}.ClientDependencies{
		{{range $fname := $cinfo.DepFieldNames -}}
		{{$fname}}: _{{lower $fname}},
		{{end}}
	}{{end}})
	{{end}}

	return &Clients{
		{{range $idx, $cinfo := .ClientInfo -}}
		{{$cinfo.FieldName}}: _{{lower $cinfo.FieldName}},
		{{end}}
	}
}
