{{- /* template to render gateway main.go */ -}}
{{- $instance := . -}}

package main

import (
	"bytes"
	"context"
	"flag"
	"strings"

	"github.com/uber/zanzibar/config"

	"github.com/pkg/errors"

	_ "go.uber.org/automaxprocs"
	"go.uber.org/fx"
	"go.uber.org/zap"

	zanzibar "github.com/uber/zanzibar/runtime"

	app "{{$instance.PackageInfo.PackageRoot}}"
	service "{{$instance.PackageInfo.GeneratedPackagePath}}"
	module "{{$instance.PackageInfo.ModulePackagePath}}"
	uberconfig "go.uber.org/config"
)

var configFiles *string

// Module defines the Zanzibar application module for {{$instance.InstanceName | pascal}}
var Module = fx.Options(
	fx.Provide(New),
	fx.Invoke(run),
)

func opts() fx.Option {
	return fx.Options(
		append(
			[]fx.Option{Module},
			app.GetOverrideFxOptions()...,
		)...,
	)
}

// Params defines the dependencies of the New module.
type Params struct {
	fx.In
	Lifecycle fx.Lifecycle
}

// Result defines the objects that the New module provides
type Result struct {
	fx.Out
	// Gateway corresponds to the fully built server gateway
	Gateway *zanzibar.Gateway
	// Provider is an abstraction over the Zanzibar config store
	Provider uberconfig.Provider `name:"zanzibarConfig"`
}

func main() {
	fx.New(opts()).Run()
}

// run is the main entry point for {{$instance.InstanceName | pascal}}
func run(gateway *zanzibar.Gateway) {
	gateway.Logger.Info("Started {{$instance.InstanceName | pascal}}",
		zap.String("realHTTPAddr", gateway.RealHTTPAddr),
		zap.String("realTChannelAddr", gateway.RealTChannelAddr),
		zap.Any("config", gateway.InspectOrDie()),
	)
}

// New exports functionality similar to Module, but allows the caller to wrap
// or modify Result. Most users should use Module instead.
func New(p Params) (Result, error) {
	readFlags()
	gateway, err := createGateway()
	if err != nil {
		return Result{}, errors.Wrap(err, "failed to create gateway server")
	}

	// Represent the zanzibar config in YAML that will be used to expose a config provider
	yamlCfg, err := gateway.Config.AsYaml()
	if err != nil {
		return Result{}, errors.Wrap(err, "unable to marshal Zanzibar config to YAML")
	}
	provider, err := uberconfig.NewYAML(
		[]uberconfig.YAMLOption{
			uberconfig.Source(bytes.NewReader(yamlCfg)),
		}...,
	)
	if err != nil {
		return Result{}, errors.Wrap(err, "unable to provide a YAML view from Zanzibar config")
	}

	p.Lifecycle.Append(fx.Hook{
		OnStart: func(ctx context.Context) error {
			err = gateway.Bootstrap()
			if err != nil {
				panic(errors.Wrap(err, "failed to bootstrap gateway server"))
			}
			return nil
		},
		OnStop: func(ctx context.Context) error {
			gateway.Logger.Info("fx OnStop() hook activated")
			gateway.WaitGroup.Add(1)
			gateway.Shutdown()
			gateway.WaitGroup.Done()
			return nil
		},
	})

	return Result{
		Gateway: gateway,
		Provider: provider,
	}, nil
}

func createGateway() (*zanzibar.Gateway, error) {
	cfg := getConfig()
	gateway, _, err := service.CreateGateway(cfg, app.AppOptions)
	if err != nil {
		return nil, err
	}
	return gateway, nil
}

func getConfig() *zanzibar.StaticConfig {
	var files []string

	if configFiles == nil {
		files = []string{}
	} else {
		files = strings.Split(*configFiles, ";")
	}

	return config.NewRuntimeConfigOrDie(files, nil)
}

func readFlags() {
	configFiles = flag.String(
		"config",
		"",
		"an ordered, semi-colon separated list of configuration files to use",
	)
	flag.Parse()
}
