env: test
envVarsToTagInRootScope: []
http.port: 1000
jaeger.disabled: false
jaeger.reporter.flush.milliseconds: 10000
jaeger.reporter.hostport: localhost:6831
jaeger.sampler.param: 0.001
jaeger.sampler.type: remote
logger.level: debug
metrics.flushInterval: 1000
metrics.m3.hostPort: 127.0.0.1:9052
metrics.m3.includeHost: false
metrics.m3.maxPacketSizeBytes: 1440
metrics.m3.maxQueueSize: 10000
metrics.runtime.collectInterval: 1000
metrics.runtime.enableCPUMetrics: true
metrics.runtime.enableGCMetrics: true
metrics.runtime.enableMemMetrics: true
metrics.type: m3
service.env.config:
  UBER_PORT_HTTP:
    dataType: number
    key: http.port
  UBER_PORT_TCHANNEL:
    dataType: number
    key: tchannel.port
serviceName: my-gateway
subLoggerLevel.http: info
subLoggerLevel.jaeger: info
subLoggerLevel.tchannel: info
useDatacenter: false
#Some tchannel clients have retryCount functionality, this feature will be disabled by default
tchannelclients.retryCount.feature.enabled: false
